body {
    background-color: darkslategrey;
    color: white;
    font-family: 'Courier New', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    animation: fadeInFromLeft 1s;
}

@keyframes fadeInFromLeft {
from {
    transform: translateX(-50%);
    opacity: 0;
}
to {
    transform: translateX(0);
    opacity: 1;
}
}

button {
    border: 2px solid white;
    border-radius: 10px;
    background-color: darkslategrey;
    color: white;
    font-family: 'Courier New', monospace;
    padding: 10px 80px;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    text-decoration: none;
    color: rgb(21, 21, 21)
}