header {
    background-color: #000000;
    color: #fff;
    height: 12%;
    border-bottom: 3px solid #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-flex;
}
header p {
    font-size: 9vh;
    font-family:'Courier New', Courier, monospace;
    font-weight: normal;
    margin: 0;
    padding: 0 2vw;
}
header > #blinkingCursor {
    transform: translateX(-35px);
    animation: blink 1s infinite steps(1, end);
}
@keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 0;}
    51% {opacity: 1;}
    100% {opacity: 1;}
}

.content {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    animation: fadeInFromLeft 2s;
}
body {
    background-color: rgb(19,19,19);
}


@keyframes fadeInFromLeft {
from {
    transform: translateX(-50%);
    opacity: 0;
}
to {
    transform: translateX(0);
    opacity: 1;
}
}

button {
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(19,19,19);
    color: white;
    font-family: 'Courier New', monospace;
    font-size: large;
    font-weight: bold;
}


a:link, a:visited {
    text-decoration: none;
    color: white;
}
a:hover, a:active {
    text-decoration: none;
    color: rgb(48, 48, 48)
}


h1 {
    font-size: 25px;
    font-weight: bolder;
}

p {
    font-size: 20px;
    font-weight: bold;
}

#menu {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#socials > button {
    padding: 20px 20px;
    margin-top: 10px;
    width: 50%;
}

#siteDirectory {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}
#siteDirectory > button {
    width: 60%;
    padding: 20px;
    margin-right: 35%;
    margin-top: 10px;
}

#recentPost {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
#recentPost > button {
    width: 60%;
    padding: 20px;
    margin-left: 35%;
    margin-top: 10px;
}